/* Limpando as Formatações Default */

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: #e6e6e6;
}

/* Estilização da Header/Cabeçalho */

header {
    background-color: #f7b600;
    padding: 15px;
    text-align: center;
}

#area-logo, #area-menu {
    padding: 10px;
}

/* Estilização da Logo */

h1 {
    color: #4e4e4e;
    font-size: 2.5em;
}

.branco {
    color: white;
}

/* Estilização dos Links */

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #f7b600
}

a:hover {
    text-decoration: underline;
}

header a:link, header a:visited {
    color: #FFF;
    padding: 8px 12px;
}

header a:hover {
    text-decoration: none;
    color: #f7b600;
    background-color: #ffffff;
}

/* Estilização da Main */

main {
    width: 920px;
    margin: 0 auto;
    padding: 15px
}

#postagens {
    width: 660px;
    float: left;
}

#menu-lateral {
    width: 240px;
    float: right;
}

footer {
    clear: both;
    text-align: center;
    padding: 15px;
    background: #CCC;
}

    /* Estilização da Postagem */

.postagem {
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
}

h2 {
    color: #f7b600;
}

.data-postagem {
    font-size: 0.8em;
    border-bottom: 1px solid #CCC;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
    /* border: 1px solid red; - Teste */
}

/* Estilização do Menu Lateral */

.conteudo-lateral {
    background: white;
    padding: 10px;
    margin-bottom: 20px;
}

h3 {
    color: #565656;
    background: #CCC;
    padding: 5px;
}

.postagem-lateral {
    font-size: 0.8em;
    padding: 5px;
    border-bottom: 1px dotted #CCC;
}

#sem-borda {
    border-bottom: none;
}